.blist {
    
    background-color:skyblue;
    color: white;
    font-size: large;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;  
  }
  .home5Main {
    display: flex;
    justify-content: right;
    margin: 0px 25px;
  }
  
  .home5Main1Img {
    width: 95px;
    height: 50px;
  }

  